# FOR FUTURE USE
# useDynLib(mokken)

export(
 ConstraintMatrix,
 DesignMatrix,
 DirectSum,
 JoinModels,
 MarginalMatrix,
 MarginalModelFit,
 ModelStatistics,
# MultiCoefficient,
# RecordsToFrequencies,
 SampleStatistics,
 SpecifyCoefficient
)

importFrom("stats", "pchisq", "var", "ftable")


# used internally - not intended to be visible to users
# All other functions (not listed)
#

# FOR FUTURE USE
S3method(summary, "CMM")
# S3method(summary, "SampleStatisticsClass")
